body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background: #1F2937;
}

#header {
    background: #6943FF;
    color: #FFFFFF;
    padding: 30px;
}

#input {
    width: 1ch;
    background: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 50px;
    box-sizing: content-box;
    margin: 0px auto 20px;
    text-align: center;
    font-weight: bold;
}

::placeholder {
    color: white;
}

#convert-btn {
    background: #FFFFFF;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.main {
    background: #1F2937;
    padding: 10px 20px;
}

.conversion {
    background: white;
    padding: 5px;
    margin: 10px;
    color: #CCC1FF;
    background: #273549;
    border-radius: 5px 0 0 0;
}

p {
    color: white
}

#container {
    max-width: 550px;
    margin: 0px auto
}